<section class="section about-us" id="about-us">
    <div class="container">
        <div class="about-us-container">
            <div>
                <h2 class="about-us-title">Про Меблерію</h2>
                <p class="about-us-text">У Меблерії ми прагнемо створювати затишок та функціональність у кожному домі.
                    Наша місія - пропонувати високоякісні
                    меблі, що поєднують у собі сучасний дизайн, довговічність та доступність. Ми віримо, що ідеальний
                    інтер'єр починається з
                    правильних меблів.</p>
            </div>
            <img src="../img/about-us/about-us-picture-1x-min.jpg"
                srcset="../img/about-us/about-us-picture-1x-min.jpg 1x, ../img/about-us/about-us-picture-2x-min.jpg 2x"
                alt="Our team">
        </div>
    </div>
</section>