<section class="section about-us" id="about-us">
  <div class="container">
    <div class="about-us-container">
      <div class="div-text-about">
        <h2 class="about-us-title">Про Меблерію</h2>
        <p class="about-us-text">
          У Меблерії ми прагнемо створювати затишок та функціональність у
          кожному домі. Наша місія - пропонувати високоякісні меблі, що
          поєднують у собі сучасний дизайн, довговічність та доступність. Ми
          віримо, що ідеальний інтер'єр починається з правильних меблів.
        </p>
      </div>
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/about-us/about-des.webp    1x,
            ./img/about-us/about-des@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/about-us/about-tab.webp    1x,
            ./img/about-us/about-tab@2x.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/about-us/about-mob.webp    1x,
            ./img/about-us/about-mob@2x.webp 2x
          "
        />
        <img
          class="networks-wrapp-img"
          src="./img/about-us/about-des.webp"
          alt="about us team"
        />
      </picture>
    </div>
  </div>
</section>
