<div class="faq">
  <div class="container">
    <h2>Часті питання</h2>
    <div class="faq-item-container">
    <div class="faq-item">
      <button class="faq-question">
        Як здійснюється доставка меблів?
        <svg class="faq-arrow" width="32" height="32">
          <use href="../img/icon.svg#icon-chevron-down"></use>
        </svg>
      </button>
      <div class="faq-answer">
        <p>Ми доставляємо замовлення по всій Україні через надійні служби. Термін доставки зазвичай складає 3–7 днів залежно від регіону.</p>
      </div>
    </div>

    <div class="faq-item">
      <button class="faq-question">
        Чи є можливість вибрати колір або матеріал?
        <svg class="faq-arrow" width="32" height="32">
          <use href="../img/icon.svg#icon-chevron-down"></use>
        </svg>
      </button>
      <div class="faq-answer">
        <p>Так, у багатьох моделях доступні варіанти оббивки та кольорів. Усі доступні опції вказані на сторінці товару.</p>
      </div>
    </div>

    <div class="faq-item">
      <button class="faq-question">
        Чи можна повернути товар, якщо він не підійшов?
        <svg class="faq-arrow" width="32" height="32">
          <use href="../img/icon.svg#icon-chevron-down"></use>
        </svg>
      </button>
      <div class="faq-answer">
        <p>Так, ви можете повернути товар протягом 14 днів, якщо він не був у користуванні та збережений у первинному вигляді.</p>
      </div>
    </div>

    <div class="faq-item">
      <button class="faq-question">
        Чи надаєте ви послугу збирання меблів?
        <svg class="faq-arrow" width="32" height="32">
          <use href="../img/icon.svg#icon-chevron-down"></use>
        </svg>
      </button>
      <div class="faq-answer">
        <p>Так, під час оформлення замовлення можна обрати послугу збирання. Наші майстри зберуть меблі у зручний для вас час.</p>
      </div>
    </div>

    <div class="faq-item">
      <button class="faq-question">
        Як здійснити оплату?
        <svg class="faq-arrow" width="32" height="32">
          <use href="../img/icon.svg#icon-chevron-down"></use>
        </svg>
      </button>
      <div class="faq-answer">
        <p>Ми приймаємо оплату карткою онлайн, банківським переказом або післяплатою при отриманні.</p>
      </div>
    </div>
  </div>
</div>
</section>
