<section class="feedback">
  <div class="container">
    <h2 class="feedback-title">Відгуки клієнтів</h2>
    <p class="feedback-subtitle">
      Дізнайтеся, що кажуть наші задоволені клієнти про наші меблі.
    </p>

    <div class="feedback-slider swiper">
      <div class="swiper-wrapper" id="feedback-list"></div>

       <div class="feedback-container-buttons">
         <div class="feedback-buttons">
          <button class="feedback-btn prev" type="button" aria-label="Попередній відгук">
            <svg width="32" height="32"><use href="../img/symbol-defs.svg#icon-left-arrow-alt"></use></svg>
          </button>
          <button class="feedback-btn next" type="button" aria-label="Наступний відгук">
            <svg width="32" height="32"><use href="../img/symbol-defs.svg#icon-right-arrow-alt"></use></svg>
          </button>
               </div>
         
               <div class="feedback-pagination swiper-pagination"></div>
       </div>
    </div>
  </div>
</section>