<footer class="footer-site">
    <a href="/" class="footer-logo-site" aria-label="Головна сторінка">
        <svg width="228" height="97">
            <use href="/img/icon.svg#icon-favicon"></use>
        </svg>
    </a> 

    <nav class="footer-nav" aria-label="Навігація">
        <ul class="footer-nav-list">
            <li>
                <a href="#hero" class="footer-nav-link">Наші меблі</a>
            </li>
            <li>
                <a href="#about-us" class="footer-nav-link">Про нас</a>
            </li>
            <li>
                <a href="#faq" class="footer-nav-link">Часті питання</a>
            </li>
            <li>
                <a href="#feedback" class="footer-nav-link">Відгуки</a>
            </li>
        </ul>
    </nav>

    <div class="footer-socials">
        <div class="footer-social-icons">
            <!-- YouTube -->
             <a href="" target="_blank" rel="noopener noreferrer" aria-label="YouTube">
                <svg  width="25" height="25">
                    <use href="/img/icon.svg#icon-youtube"></use>
                </svg>
             </a>

            <!-- Instagram -->
            <a href="" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                <svg width="25" height="25">
                    <use href="/img/icon.svg#icon-instagram"></use>
                </svg>
            </a>
        
            <!-- Facebook -->
            <a href="" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                <svg width="25" height="25">
                    <use href="/img/icon.svg#icon-facebook"></use>
                </svg>
            </a>
        </div>
    </div>

    <div class="footer-site-copyrigh">
        © 2025 Relume. Всі права захищені.
    </div>
</footer>



