<section class="footer">
  <div class="container footer-container">
    <a href="./index.html" class="footer-logo">
      <svg class="footer-svg-logo" width="221" height="50">
        <use href="./svg-icon.svg#Logo"></use>
      </svg>
    </a>
    <ul class="footer-list-link">
      <li class="footer-item-link">
        <a href="#furniture">Наші меблі</a>
      </li>
      <li class="footer-item-link">
        <a href="#about-us">Про нас</a>
      </li>
      <li class="footer-item-link">
        <a href="#faq">Часті питання</a>
      </li>
      <li class="footer-item-link">
        <a href="#feedback">Відгуки</a>
      </li>
    </ul>
    <ul class="footer-list-social">
      <li class="footer-item-social">
        <a
          class="link-social"
          href="https://www.youtube.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Youtube"
        >
          <svg class="social-svg" width="24" height="24">
            <use href="./svg-icon.svg#Youtube"></use>
          </svg>
        </a>
      </li>
      <li class="footer-item-social">
        <a
          class="link-social"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram"
        >
          <svg class="social-svg-instagram" width="24" height="24">
            <use href="./svg-icon.svg#Instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-item-social">
        <a
          class="link-social"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
        >
          <svg class="social-svg" width="24" height="24">
            <use href="./svg-icon.svg#Facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer-rights">&copy; 2025 Relume. Всі права захищені.</p>
  </div>
</section>
