<header class="page-header">
    <div class="container container-header">
        <a class="logo logo-header" href="../index.html"> Меблерія</use></svg></a>
        <button class="mobile-menu-open-btn is-open-menu" type="button" aria-expanded="false"
            data-menu-open="mobile-menu">
            <svg class="svg-icon-menu" width="32" height="32" aria-label="menu open icon">
                <use href="../img/Header/logo-w.svg#menu"></use>
            </svg>
        </button>
        <nav class="page-nav">
            <ul class="navigation-list">
                <li class="nav-list-item">
                    <a class="nav-list-item-link" href="#home">Наші меблі</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-list-item-link" href="#about-us">Про нас</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-list-item-link" href="#faq">Часті запитання</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-list-item-link" href="#feedback">Відгуки</a>
                </li>
                <li class="nav-list-item">
                    <button class="header-scroll-button"><a href="#order-modal">До покупок</a></button>
                </li>
            </ul>
        </nav>
    </div>
</header>

