<aside class="mob-menu js-menu-container" data-menu="mobile-menu">
    <div class="mob-menu-container">
        <button class="mob-menu-btn js-close-menu" type="button" data-menu-close="mobile-menu">
            <svg class="mob-menu-close-icon" width="32" height="32" aria-label="close icon">
                <use href="../img/Header/logo-w.svg#icon-x"></use>
            </svg>
        </button>

        <div class="mob-menu-container-second">
            <nav class="mob-menu-page">
                <ul class="mob-menu-list">
                        <li class="nav-list-item">
                            <a class="nav-list-item-link" href="#home">Наші меблі</a>
                        </li>
                        <li class="nav-list-item">
                            <a class="nav-list-item-link" href="#about-us">Про нас</a>
                        </li>
                        <li class="nav-list-item">
                            <a class="nav-list-item-link" href="#faq">Часті запитання</a>
                        </li>
                        <li class="nav-list-item">
                            <a class="nav-list-item-link" href="#feedback">Відгуки</a>
                        </li>
                </ul>
            </nav>
        </div>
    </div>
</aside>