<aside class="mob-menu js-menu-container hiden" data-menu="mobile-menu">
    <div class="mob-menu-container">
        <div class="mob-menu-container-w-logo">
            <div class="mob-menu-logo">
                <a class="logo logo-header" href="../index.html">
                    <svg class="svg-icon-logo" width="163" height="69.86" aria-label="menu open icon">
                        <use href="../img/Header/logo-w.svg#icon-logo-w"></use>
                    </svg>
                </a>
            </div>
            <button class="mob-menu-btn hiden-close js-close-menu" type="button" data-menu-close="mobile-menu"
                id="closeBtn">
                <svg class="mob-menu-close-icon" width="16" height="16" aria-label="close icon">
                    <use href="../img/icon.svg#icon-icon"></use>
                </svg>
            </button>
        </div>

        <div class="mob-menu-container-second">
            <nav class="mob-menu-page">
                <ul class="mob-menu-list">
                    <li class="nav-list-item">
                        <a class="nav-list-item-link" href="#furniture">Наші меблі</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="nav-list-item-link" href="#about-us">Про нас</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="nav-list-item-link" href="#">Популярне</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="nav-list-item-link" href="#faq">Часті питання</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="nav-list-item-link" href="#feedback">Відгуки</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</aside>