/* styles for about-us section */
.about-us {
    padding: 48px 0;
}

.about-us img {
    display: block;
    max-width: 100%;
    height: auto;
}

.about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 64px 0;
}
/* h1 */
.about-us-title {
    font-family: 'Relaway Semibold', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 24px;
}
/* p */
.about-us-text {
    font-family: 'Relaway Regular', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* @media(min-width: 768px) {
} */
@media (min-width: 1024px) {
.about-us {
        padding: 80px 0;
    }
        .about-us-container{
        flex-direction: row;
        align-items: flex-start;
        gap: 40px;
    }
    /* Текстова частина займає половину простору*/
    .about-us>div {
        flex: 1;
    }

    /* Зображення займає половину простору */
    .about-us img {
        flex: 1;
        max-width: 50%;
    }

    /* Вирівнювання тексту по лівому краю*/
    .about-us-title {
        text-align: left;
    }

    .about-us-text {
        text-align: left;
    }
}