.about-us {
  padding: 64px 0;
  background-color: #f0e6e6;
  margin: 0;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.about-us-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: left;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 24px;
}

.about-us-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.03em;
  color: #757575;
}

.networks-wrapp-img {
  border-radius: 8px;
}

@media (min-width: 1440px) {
  .about-us {
    padding: 64px 0;
  }

  .about-us-container {
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }

  .div-text-about {
    height: 198px;
    width: 647px;
  }

  .about-us-text {
    text-align: left;
  }

  .networks-wrapp-img {
    width: 641px;
  }
}
