:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  color: #080c09;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}


