
.faq {
  padding: 48px 0;
  height: 100%;
}

.title-faq {
font-weight: 700;
font-size: 36px;
line-height: 120%;
letter-spacing: 0.01em;
text-align: center;
color: #080c09;
margin-bottom: 32px;
}

.faq-item {
  border-bottom: 1px solid #ccc;
}

.faq-item:first-of-type {
  border-top: 1px solid #ccc;
}

.faq-question {
  font-size: 16px;
  line-height: 1.6;
  color: #080c09;
  width: 100%;
  background: none;
  padding: 15px 0;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-faq {
font-weight: 400;
font-size: 16px;
line-height: 1.6;
}

.faq-question svg {
    flex-shrink: 0; 
  }

.faq-arrow {
  stroke: #080c09;
  transition: transform 0.3s ease;
}

.faq-question.active .faq-arrow {
  transform: rotate(180deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.faq-answer p {
  padding: 0 0 15px 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  
  .title-faq {
  font-size: 48px;
}

.faq-question {
  font-size: 18px;
  padding: 21px 0;
}

}


@media screen and (min-width: 1440px) {
  .faq {
      padding: 80px 0;
    }
    
  .faq-item-container {
    width: 865px;
    height: 360px;
    margin: 0 auto;
  }
}
