.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.faq {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin: 50px auto;
}

.faq h2 {
font-weight: 700;
font-size: 36px;
line-height: 120%;
letter-spacing: 0.01em;
text-align: center;
color: #080c09;
margin-bottom: 32px;
}

.faq-item {
  border-bottom: 1px solid #ccc;
}

.faq-item:first-of-type {
  border-top: 1px solid #ccc;
}

.faq-question {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #080c09;
  width: 100%;
  background: none;
  padding: 15px 0;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 250ms ease;
}

.faq-question svg {
    flex-shrink: 0; 
  }

.faq-question:hover {
  color: #6b0609; 
}

.faq-question:hover .faq-arrow {
  fill: #6b0609; 
}

.faq-arrow {
  transition: transform 0.3s ease;
}

.faq-question.active .faq-arrow {
  transform: rotate(180deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.faq-answer p {
  padding: 0 0 15px 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 32px;
  }
  .faq h2 {
  font-size: 48px;
}

.faq-question {
  font-size: 18px;
  padding: 21px 0;
}

}


@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 64px;
  }
  .faq-item-container {
    width: 865px;
    height: 360px;
    margin: 0 auto;
  }
}
